<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Authors</title>

</head>
<body>
	<h1>Add an Authors</h1>
	<form action="/authors/create/" method="POST">
		{% csrf_token %}
		<label>First Name</label>
		<input type="text" name="first_name" required>
		<br>
		<label>Last Name</label>
		<input type="text" name="last_name" required>
		<br>
		<label>Notes:</label>
		<textarea name="notes"></textarea>
		<br>
		<button type="submit">Add</button>
	</form>
	<hr>

	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for author in authors %}
			<tr>
				<td>{{ author.id }}</td>
				<td>{{ author.first_name }} {{ author.last_name }}</td>
				<td><a href="/authors/{{ author_id }}/">View</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	
</body>
</html>