<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ author.first_name }}</title>
</head>
<body>
	<h1>{{ author.first_name }} {{ author.last_name }}</h1>
	<p>ID: {{ author.id }}</p>
	<p>Notes: {{ author.notes }}</p>

	<h2>Books</h2>
	<ul>
		{% for book in author.book.all %}
			<li>{{ book.title }}</li>
		{% endfor %}
	</ul>

	<form action="/authors/{{ author.id }}/add_book/" method="POST">
		{% csrf_token %}
		<select name="book_id">
			{% for book in available_books %}
				<option value="{{ book.id }}">{{ book.title }}</option>
			{% endfor %}
		</select>
		<button type="submit">Add</button>
	</form>
	<br>
	<a href="/authors/">Back to Authors</a>

	
</body>
</html>